<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cards</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let employeeData of employeeDatas; let i=index">
    <ion-card routerLink="/employees/{{i}}">
      <img alt="employee0" src="assets/img/{{i}}.jpg" />
      <ion-card-header>
        <ion-card-title>{{ employeeData.username }}</ion-card-title>
        <ion-card-subtitle>{{ employeeData.name }}</ion-card-subtitle>
      </ion-card-header>

      <ion-button fill="clear">MORE INFO</ion-button>

    </ion-card>
  </div>


</ion-content>
